@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  :root {
    --background: 205 50% 12%; /* #0F1C2A */
    --foreground: 0 0% 100%; /* #FFFFFF */
    --card: 205 45% 15%;
    --card-foreground: 0 0% 100%;
    --popover: 205 50% 10%;
    --popover-foreground: 0 0% 100%;
    --primary: 195 100% 50%; /* #00BFFF */
    --primary-foreground: 205 50% 12%;
    --secondary: 205 30% 25%;
    --secondary-foreground: 0 0% 100%;
    --muted: 205 30% 25%;
    --muted-foreground: 0 0% 63%; /* #A0A0A0 */
    --accent: 205 30% 25%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 205 30% 25%;
    --input: 205 30% 25%;
    --ring: 195 100% 50%;
    --radius: 0.5rem;
    --hue-color: hsl(var(--primary));
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-color: #000;
  }
}

@keyframes animated-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-text {
  background: linear-gradient(
    90deg,
    hsl(var(--primary)),
    #973BED,
    #FFC800,
    #F0F,
    #00E0ED,
    hsl(var(--primary))
  );
  background-size: 300% 300%;
  animation: animated-gradient 8s ease-in-out infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.skill-card {
  overflow: visible;
  width: 220px;
  height: 280px;
  perspective: 1000px;
}

.skill-card-large {
  overflow: visible;
  width: 100%;
  height: 280px;
  perspective: 1000px;
}

.skill-card-content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  border-radius: 0.5rem;
}

.skill-card:hover .skill-card-content,
.skill-card-large:hover .skill-card-content {
  transform: rotateY(180deg);
}

.skill-card .front, .skill-card .back,
.skill-card-large .front, .skill-card-large .back {
  background-color: hsl(var(--card));
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 0.5rem;
  overflow: hidden;
  border: 1px solid hsl(var(--border));
}

.skill-card .back,
.skill-card-large .back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.skill-card .back::before,
.skill-card-large .back::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, var(--hue-color), var(--hue-color), var(--hue-color), var(--hue-color), transparent);
  animation: rotation_481 5000ms infinite linear, color_anim 10s infinite linear;
  opacity: 0.7;
}


@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

.skill-card .back-content,
.skill-card-large .back-content {
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background-color: hsl(var(--card));
  border-radius: 0.375rem;
  color: hsl(var(--card-foreground));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}


.skill-card .front,
.skill-card-large .front {
  transform: rotateY(180deg);
  color: hsl(var(--card-foreground));
}

.skill-card .front .front-content,
.skill-card-large .front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skill-card .back-content svg,
.skill-card-large .back-content svg {
  color: var(--hue-color);
  animation: color_anim 10s infinite linear;
}

.skill-card .back-content strong,
.skill-card-large .back-content strong {
  color: var(--hue-color);
  animation: color_anim 10s infinite linear;
}

.background-container {
  --color-0: #fff;
  --color-1: #111;
  --color-2: #222;
  --color-3: #333;
  --color-4: #2e2e2e;
  --color-5: #d2b48c;
  --color-6: #b22222;
  --color-7: #871a1a;
  --color-8: #ff6347;
  --color-9: #ff3814;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-1);
  background-image: linear-gradient(
      to top,
      var(--color-2) 5%,
      var(--color-1) 6%,
      var(--color-1) 7%,
      transparent 7%
    ),
    linear-gradient(to bottom, var(--color-1) 30%, transparent 80%),
    linear-gradient(to right, var(--color-2), var(--color-4) 5%, transparent 5%),
    linear-gradient(
      to right,
      transparent 6%,
      var(--color-2) 6%,
      var(--color-4) 9%,
      transparent 9%
    ),
    linear-gradient(
      to right,
      transparent 27%,
      var(--color-2) 27%,
      var(--color-4) 34%,
      transparent 34%
    ),
    linear-gradient(
      to right,
      transparent 51%,
      var(--color-2) 51%,
      var(--color-4) 57%,
      transparent 57%
    ),
    linear-gradient(to bottom, var(--color-1) 35%, transparent 35%),
    linear-gradient(
      to right,
      transparent 42%,
      var(--color-2) 42%,
      var(--color-4) 44%,
      transparent 44%
    ),
    linear-gradient(
      to right,
      transparent 45%,
      var(--color-2) 45%,
      var(--color-4) 47%,
      transparent 47%
    ),
    linear-gradient(
      to right,
      transparent 48%,
      var(--color-2) 48%,
      var(--color-4) 50%,
      transparent 50%
    ),
    linear-gradient(
      to right,
      transparent 87%,
      var(--color-2) 87%,
      var(--color-4) 91%,
      transparent 91%
    ),
    linear-gradient(to bottom, var(--color-1) 37.5%, transparent 37.5%),
    linear-gradient(
      to right,
      transparent 14%,
      var(--color-2) 14%,
      var(--color-4) 20%,
      transparent 20%
    ),
    linear-gradient(to bottom, var(--color-1) 40%, transparent 40%),
    linear-gradient(
      to right,
      transparent 10%,
      var(--color-2) 10%,
      var(--color-4) 13%,
      transparent 13%
    ),
    linear-gradient(
      to right,
      transparent 21%,
      var(--color-2) 21%,
      #1a1a1a 25%,
      transparent 25%
    ),
    linear-gradient(
      to right,
      transparent 58%,
      var(--color-2) 58%,
      var(--color-4) 64%,
      transparent 64%
    ),
    linear-gradient(
      to right,
      transparent 92%,
      var(--color-2) 92%,
      var(--color-4) 95%,
      transparent 95%
    ),
    linear-gradient(to bottom, var(--color-1) 48%, transparent 48%),
    linear-gradient(
      to right,
      transparent 96%,
      var(--color-2) 96%,
      #1a1a1a 99%,
      transparent 99%
    ),
    linear-gradient(
      to bottom,
      transparent 68.5%,
      transparent 76%,
      var(--color-1) 76%,
      var(--color-1) 77.5%,
      transparent 77.5%,
      transparent 86%,
      var(--color-1) 86%,
      var(--color-1) 87.5%,
      transparent 87.5%
    ),
    linear-gradient(
      to right,
      transparent 35%,
      var(--color-2) 35%,
      var(--color-4) 41%,
      transparent 41%
    ),
    linear-gradient(to bottom, var(--color-1) 68%, transparent 68%),
    linear-gradient(
      to right,
      transparent 78%,
      var(--color-3) 78%,
      var(--color-3) 80%,
      transparent 80%,
      transparent 82%,
      var(--color-3) 82%,
      var(--color-3) 83%,
      transparent 83%
    ),
    linear-gradient(
      to right,
      transparent 66%,
      var(--color-2) 66%,
      var(--color-4) 85%,
      transparent 85%
    );
  background-size: 300px 150px;
  background-position: center bottom;
  z-index: -1;
}

.background-container:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background-color: var(--color-1);
  background-image: linear-gradient(
      to top,
      var(--color-5) 5%,
      var(--color-1) 6%,
      var(--color-1) 7%,
      transparent 7%
    ),
    linear-gradient(to bottom, var(--color-1) 30%, transparent 30%),
    linear-gradient(to right, var(--color-6), var(--color-7) 5%, transparent 5%),
    linear-gradient(
      to right,
      transparent 6%,
      var(--color-8) 6%,
      var(--color-9) 9%,
      transparent 9%
    ),
    linear-gradient(
      to right,
      transparent 27%,
      #556b2f 27%,
      #39481f 34%,
      transparent 34%
    ),
    linear-gradient(
      to right,
      transparent 51%,
      #fa8072 51%,
      #f85441 57%,
      transparent 57%
    ),
    linear-gradient(to bottom, var(--color-1) 35%, transparent 35%),
    linear-gradient(
      to right,
      transparent 42%,
      #008080 42%,
      #004d4d 44%,
      transparent 44%
    ),
    linear-gradient(
      to right,
      transparent 45%,
      #008080 45%,
      #004d4d 47%,
      transparent 47%
    ),
    linear-gradient(
      to right,
      transparent 48%,
      #008080 48%,
      #004d4d 50%,
      transparent 50%
    ),
    linear-gradient(
      to right,
      transparent 87%,
      #789 87%,
      #4f5d6a 91%,
      transparent 91%
    ),
    linear-gradient(to bottom, var(--color-1) 37.5%, transparent 37.5%),
    linear-gradient(
      to right,
      transparent 14%,
      #bdb76b 14%,
      #989244 20%,
      transparent 20%
    ),
    linear-gradient(to bottom, var(--color-1) 40%, transparent 40%),
    linear-gradient(
      to right,
      transparent 10%,
      #808000 10%,
      #4d4d00 13%,
      transparent 13%
    ),
    linear-gradient(
      to right,
      transparent 21%,
      #8b4513 21%,
      #5e2f0d 25%,
      transparent 25%
    ),
    linear-gradient(
      to right,
      transparent 58%,
      #8b4513 58%,
      #5e2f0d 64%,
      transparent 64%
    ),
    linear-gradient(
      to right,
      transparent 92%,
      #2f4f4f 92%,
      #1c2f2f 95%,
      transparent 95%
    ),
    linear-gradient(to bottom, var(--color-1) 48%, transparent 48%),
    linear-gradient(
      to right,
      transparent 96%,
      #2f4f4f 96%,
      #1c2f2f 99%,
      transparent 99%
    ),
    linear-gradient(
      to bottom,
      transparent 68.5%,
      transparent 76%,
      var(--color-1) 76%,
      var(--color-1) 77.5%,
      transparent 77.5%,
      transparent 86%,
      var(--color-1) 86%,
      var(--color-1) 87.5%,
      transparent 87.5%
    ),
    linear-gradient(
      to right,
      transparent 35%,
      #cd5c5c 35%,
      #bc3a3a 41%,
      transparent 41%
    ),
    linear-gradient(to bottom, var(--color-1) 68%, transparent 68%),
    linear-gradient(
      to right,
      transparent 78%,
      #bc8f8f 78%,
      #bc8f8f 80%,
      transparent 80%,
      transparent 82%,
      #bc8f8f 82%,
      #bc8f8f 83%,
      transparent 83%
    ),
    linear-gradient(
      to right,
      transparent 66%,
      #a52a2a 66%,
      #7c2020 85%,
      transparent 85%
    );
  background-size: 300px 150px;
  background-position: center bottom;
  clip-path: circle(150px at center center);
  animation: flashlight 20s ease infinite;
}

.background-container:after {
  content: "";
  width: 25px;
  height: 10px;
  position: absolute;
  left: calc(50% + 59px);
  bottom: 100px;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle, #fff 50%, transparent 50%),
    radial-gradient(circle, #fff 50%, transparent 50%);
  background-size: 10px 10px;
  background-position:
    left center,
    right center;
  animation: eyes 20s infinite;
}

@keyframes flashlight {
  0% {
    clip-path: circle(150px at -25% 10%);
  }

  38% {
    clip-path: circle(150px at 60% 20%);
  }

  39% {
    opacity: 1;
    clip-path: circle(150px at 60% 86%);
  }

  40% {
    opacity: 0;
    clip-path: circle(150px at 60% 86%);
  }

  41% {
    opacity: 1;
    clip-path: circle(150px at 60% 86%);
  }

  42% {
    opacity: 0;
    clip-path: circle(150px at 60% 86%);
  }

  54% {
    opacity: 0;
    clip-path: circle(150px at 60% 86%);
  }

  55% {
    opacity: 1;
    clip-path: circle(150px at 60% 86%);
  }

  59% {
    opacity: 1;
    clip-path: circle(150px at 60% 86%);
  }

  64% {
    clip-path: circle(150px at 45% 78%);
  }

  68% {
    clip-path: circle(150px at 85% 89%);
  }

  72% {
    clip-path: circle(150px at 60% 86%);
  }

  74% {
    clip-path: circle(150px at 60% 86%);
  }

  100% {
    clip-path: circle(150px at 150% 50%);
  }
}

@keyframes eyes {
  0%,
  38% {
    opacity: 0;
  }

  39%,
  41% {
    opacity: 1;
    transform: scaleY(1);
  }

  40% {
    transform: scaleY(0);
    filter: none;
    background-image: radial-gradient(circle, #fff 50%, transparent 50%),
      radial-gradient(circle, #fff 50%, transparent 50%);
  }

  41% {
    transform: scaleY(1);
    background-image: radial-gradient(circle, #ff0000 50%, transparent 50%),
      radial-gradient(circle, #ff0000 50%, transparent 50%);
    filter: drop-shadow(0 0 4px #ff8686);
  }

  42%,
  100% {
    opacity: 0;
  }
}

.squircle-icon-button {
  clip-path: url(#squircleClip);
}

.new-button-container {
  position: relative;
}

.new-button-border {
  padding: 3px;
  inset: 0;
  background: #0005;
  border-radius: inherit;
  clip-path: path(
    "M 120 0 C 151 0 156 5 156 22 C 156 39 151 44 120 44 L 33 44 C 5 44 0 39 0 22 C 0 5 5 0 33 0 Z"
  );
}

.new-button {
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.875em;
  clip-path: path(
    "M 120 0 C 145 0 150 5 150 20 C 150 35 145 40 120 40 L 30 40 C 5 40 0 35 0 20 C 0 5 5 0 30 0 Z"
  );
  width: 150px;
  height: 44px;
  background: #111215;
  display: flex;
  flex-direction: row;
  color: #fff;
  overflow: hidden;
}

.new-real-button {
  position: absolute;
  width: 150px;
  height: 44px;
  z-index: 1;
  outline: none;
  border: none;
  border-radius: 17px;
  cursor: pointer;
  opacity: 0;
}

.new-backdrop {
  position: absolute;
  inset: -9900%;
  background: radial-gradient(
    circle at 50% 50%,
    #0000 0,
    #0000 20%,
    #111111aa 50%
  );
  background-size: 3px 3px;
  z-index: -1;
}

.new-spin {
  position: absolute;
  inset: 0;
  z-index: -2;
  opacity: 0.5;
  overflow: hidden;
  transition: 0.3s;
}

.new-real-button:active ~ div .new-spin {
  opacity: 1;
}

.new-spin-blur {
  filter: blur(2em) url(#unopaq);
}

.new-spin-intense {
  inset: -0.125em;
  filter: blur(0.25em) url(#unopaq2);
  border-radius: 0.75em;
}

.new-spin-inside {
  inset: -2px;
  border-radius: inherit;
  filter: blur(2px) url(#unopaq3);
  z-index: 0;
}

.new-spin::before {
  content: "";
  position: absolute;
  inset: -150%;
  animation:
    speen 8s cubic-bezier(0.56, 0.15, 0.28, 0.86) infinite,
    woah 4s infinite;
  animation-play-state: paused;
}

.new-real-button:hover ~ div .new-spin::before {
  animation-play-state: running;
}

.new-spin-blur::before {
  background: linear-gradient(90deg, #f50 30%, #0000 50%, #05f 70%);
}

.new-spin-intense::before {
  background: linear-gradient(90deg, #f95 20%, #0000 45% 55%, #59f 80%);
}

.new-spin-inside::before {
  background: linear-gradient(90deg, #fc9 30%, #0000 45% 55%, #9cf 70%);
}

@keyframes speen {
  0% {
    rotate: 10deg;
  }
  50% {
    rotate: 190deg;
  }
  to {
    rotate: 370deg;
  }
}

@keyframes woah {
  0%. to {
    scale: 1;
  }
  50% {
    scale: 0.75;
  }
}
    

    